<div class="container">

  <div class="page-title mt-3">
    <% if @user.id == current_user.id %>
      <h2>フォロワー一覧</h2>
    <% else %>
      <h2><%= @user.username %>'s フォロワー</h2>
    <% end %>
  </div>

  <div class="row followers_list mt-4">
    <%= render '/partial/user_items' %>
  </div>

  <div class="row index-page mt-3">
    <%= paginate @users %>
  </div>

</div>