<h1>ゲーム詳細</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <a class="text-dark" href="#"><%= @game.title %></a>
      <a class="text-dark" href="#"><%= @game.machine_i18n %></a>
      <a class="text-dark" href="#"><%= @game.genre_i18n %></a>
      <a class="text-dark" href="#"><%= @game.user.username %>
    </div>
  </div>
</div>