<h1>index</h1>
<div class="container">
  <% @gamers.each do |gamer| %>
    <div class="row">
      <div class="col-md-6 bg-white">
         <%= link_to gamer.username, gamer_path(gamer.id) %>
         <h5 class="text-dark"><%= gamer.favorite %></h5>
      </div>
    </div>
  <% end %>
  <%= paginate @gamers %>
</div>
